*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
  }
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #4b2e83;
  }
  body.correct {
    --hue: var(--hue-correct);
  }
  body.wrong {
    --hue: var(--hue-wrong);
  }
  .container {
    width: 500px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
  }
  .btn {
    /* --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none; */
    background-color: #4b2e83;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: left;
  }
  .btn:hover {
    background-color: blueviolet;
  }
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hide {
    display: none;
  }


.question-container {
  visibility: hidden;
}

.intro {
  visibility: visible;
}

h1 {
text-align: center;
}

p {
  text-align: center ;
margin: 50px;
margin-top: 0px;
}

#timer {
  position: relative;
  top: -330px;
  left: 700px;
  color: white;
  opacity: 80%;
}
.time {
  position: relative;
  top: -40px;
  left: 55px;
}
#highscore {
  color: white;
  opacity: 60%;
  position: relative;
  top: -348px;
  left: -100px;
  text-decoration: underline
}
#scoreList{
  visibility: hidden;
}
.start {
  margin-left: 200px;
  padding: 15px;
  font-size: 20px;
}
.listing {
  position: relative;
  top: 20px;
  margin-left: 0px;
  text-align: left;
}
.inputText {
  position: relative;
  top: -20px;
  left: -100px;
}
.input {
  margin-left: 150px;
  position: relative;
  top: -90px;
  left: 40px;
}
.end {
  margin-left: 150px;
  position: relative;
  top: -92px;
  left: -100px;
}

  .rightOrwrong1 {
    -moz-animation: cssAnimation 0s ease-in 1.5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 1.5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 1.5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 1.5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}